@import 'theme';

// Loading Page
.loading--div-container {
  background: rgb(33, 32, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading--img-loading {
  width: 100%;
}

.modal {
  z-index: 2000;
}

.task--div-full-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial;
}

.Welcome--div-container {
  margin: auto;
  width: 800px;
  text-align: center;
  @media (max-width: 600px) {
    width: 80%;
  }

  h1 {
    font-size: 2rem;
    padding: 10px;
  }

  img {
    width: 20%;
    margin: 50px 0px 50px 0px;
  }
}
