@import 'theme';

.header--div-container {
  display: flex;
  align-items: row;
  justify-content: space-between;
  padding: 10px;
  background-image: linear-gradient($primary-color, $secondary-color);
  font-family: 'Acme', sans-serif;
  a {
    text-decoration: none;
  }
  img {
    width: 20px;
  }
  .name {
    margin-top: -2px;
    height: 20px;
    border-radius: 50px;
  }
  @media (max-width: 600px) {
    .profile-name {
      display: none;
    }
  }
  i {
    border-radius: 50px;
    padding: 10px;
  }
  i:hover {
    background-image: linear-gradient($secondary-color, $primary-color);
  }
}

.header--div-menu {
  display: inline-flex;
  align-items: row;
  justify-content: space-evenly;
  color: lightblue;
  * {
    text-decoration: none;
    padding: 10px;
  }
  a {
    border-radius: 50px;
    color: inherit;
  }
  a:hover {
    background-image: linear-gradient($secondary-color, $primary-color);
  }
}

.header--h1-title {
  margin-left: 60px;
  padding: 10px;
  font-size: 20px;
  color: lightblue;
  text-align: center;

  @media (max-width: 600px) {
    margin-left: 15px;
  }
}
