@import 'theme';

.header--div-container {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 5px;
  background-image: linear-gradient($primary-red, $secondary-red);
  font-family: 'Acme', sans-serif;
  width: 100%;
  color: $fifth-red;
  a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    color: $fifth-red;
  }
}

.header--i-burger {
  padding: 10px;
}

.header--i-burger:hover {
  cursor: pointer;
}

.header--div-left {
  width: 30%;
}

.header--div-mid {
  width: 20%;
  text-align: center;
}

.header--div-right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    font-size: 1rem;
    color: $fifth-red;
  }
}

.header--img-profile {
  padding: 10px;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
}

.header--h1-title {
  font-family: 'Acme', sans-serif;
  font-size: 1rem;
}

.header--profile-name {
  padding: 10px;
  font-size: 1rem;
  @media (max-width: 500px) {
    display: none;
  }
}
