@import 'theme';

.list--div-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
}

.list--span-name {
  padding: 10px;
  font-family: 'Acme', sans-serif;
}

.list--div-container:focus,
.list--div-container:hover,
.list--div-container:active {
  background: $fourth-red;
}

.list--div-buttonContainer {
  button {
    padding: 10px;
    border: none;
    background: inherit;
    font-size: 1.2rem;
  }
}
