@import 'theme';

.login-body {
  background: url(../media/coffee-background.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 30%;
  height: 30%;
  border-radius: 10%;
  background-color: $light-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    width: 80%;
  }
}

.login-logo {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.login-button-google {
}
