@import 'theme';

.titlebar--div-container {
  width: 800px;
  display: inline-flex;
  justify-content: center;
  margin: auto;
  @media (max-width: 500px) {
    width: 100%;
    text-align: center;
  }
}

.titlebar--div-buttongroup {
  display: inline-flex;
  justify-content: space-between;
  button {
    width: 6rem;
    padding: 10px;
  }
  @media (max-width: 500px) {
    bottom: 2%;
  }
}

.titlebar--button-selected {
  background: $third-red;
  border: none;
  color: white;
}

.titlebar--button {
  background: $fifth-red;
  border: none;
}

.titlebar--button:hover {
  background: $fourth-red;
}
