@import 'theme';

.titlebar--div-container {
  width: 800px;
  display: inline-flex;
  justify-content: space-between;
  margin: auto;
  @media (max-width: 500px) {
    width: 100%;
    text-align: center;
  }
}

.titlebar--div-listname {
  font-size: 2rem;
  padding: 10px 5px 10px 5px;
  @media (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.titlebar--div-buttongroup {
  position: fixed;
  bottom: 5%;
  right: 10%;
  display: inline-flex;
  justify-content: space-between;
  button {
    width: 6rem;
    padding: 2px;
  }
}

.titlebar--button-selected {
  background: $third-red;
  border: none;
  color: white;
}

.titlebar--button {
  background: $fifth-red;
  border: none;
}

.titlebar--button:hover {
  background: $fourth-red;
}
